<p>Second Component</p>

<!--interact with a variable-->
<p>{{helloVariable}}</p>

<button (click)="coolFunction()">Click Me to Change Variable</button>
<br/>



<!--*ngIf-->
<button (click)="showDivFunc()" style="margin-top: 20px">Click Me to show the div</button>
<h3 *ngIf="showTheDiv === 'show it!'">The div is shown</h3>
<br/>


<!--*ngFor-->
<button (click)="showArrayFunc()" style="margin-top: 20px">Click Me to show the array</button>
<div *ngFor="let coolItem of arrayItems">
	<p style="font-size: 12px; margin: 0px">result: {{coolItem}}</p>
</div>

<!--get message from first component, through awesome-service -->

<h3>{{coolMessage}}</h3>

<!--component within a component-->
<div style="margin-top: 15px">
	<app-amazing-first-component></app-amazing-first-component>
</div>

<button style="margin-top: 15px" (click)="routeToThirdComponent()">Click me to go to third component</button>